body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 25vh;
    margin: auto;
}

.output{
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    height: 100px;
    margin-top: 20px;
    
}

.clear_delete {
    box-sizing: border-box;
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.clear,
.delete {
    display: flex;
    flex: 1 0 40%;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0px;
    justify-content: center;
    align-items: center;
}

.numbers_oprators{
    display: flex;
    flex-wrap:wrap;
    gap: 5px;
    margin-top: 10px;
}

button {
    display: flex;
    flex: 1 0 20%;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0px;
    justify-content: center;
    align-items: center;
}