body {
    margin-top: 25vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 25vh;
    margin: auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: whitesmoke;
}

p {
    margin: 0px;
    font-size: 20px;
    color: white;
}

.output{
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    height: 100px;
    background-color: white;
}

.entry1,
.entry2 {
    display: flex;
    height: 50%;
    flex: 1 0 100%;
    justify-content: right;
    align-items: center;
    color: black;
}

.clear_delete {
    box-sizing: border-box;
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.clear,
.delete {
    display: flex;
    flex: 1 0 40%;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0px;
    justify-content: center;
    align-items: center;
}

.clear{
    background-color: #C8A2C8;
}

.delete{
    background-color: #DCAE96;
}

.numbers_oprators{
    display: flex;
    flex-wrap:wrap;
    gap: 5px;
    margin-top: 10px;
}

button {
    display: flex;
    flex: 1 0 20%;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    background-color: #e6e6fb;
}

.division,.mul,.sub,.add {
    background-color: #FDFD96;
}

